@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.wrapper {
  max-width: 84vw;
  width: 100%;
  position: relative;
}
.wrapper #left,
#right {
  height: 50px;
  width: 50px;
  background: #d7cbcb;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 12px);
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1800px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 4) - 12px);
  }
}

@media screen and (max-width: 1400px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 12px);
  }
}

@media screen and (max-width: 1000px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 12px);
  }
}

@media screen and (max-width: 700px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.carousel.dragging {
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

/* cards */

.carousel .card {
  height: 450px;
  width: 90%;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .card .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.card-img {
  text-align: center;
  padding: 10px;
  margin: 0;
}
.card-img img {
  border-radius: 5px;
  height: 225px;
  width: 100%;
  max-width: 200px;
  object-fit: cover;
  object-position: center;
}

.card-body {
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
}
.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: #b6222b;
  text-decoration: none;
  padding: 5px 10px; /* Diminui o tamanho do botão */
  font-size: 12px; /* Ajusta o tamanho do texto */
  border-radius: 5px; /* Arredonda os cantos do botão */
}
.card-body .btn:hover {
  background: #b6222b;
  color: #fff;
}
