.one {
  padding: 6%;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  align-items: center; /* Centraliza verticalmente */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("../images/menina.jpg");
  background-size: cover;
  background-position: center 40%; /* Move a imagem 100px para baixo */
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.content-0 {
  text-align: left;
  max-width: 50%;
  color: #ffffff;
}

.content-0 h1 {
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 3px;
}

.content-0 p {
  line-height: 1.4;
  font-size: 17px;
  color: #b62222;
  margin: 20px 0;
  font-weight: 500;
}

.forms {
  background-color: #070707;
  height: 50vh;
}
/*#about {
	background-color: #000000;
	color: white;
	padding: 20px;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}*/

/* Elemento H1 de cada una de la secciones (su título) */
.one {
  font-weight: 100;
  font-size: 2.8em;
  text-align: center;
  display: flex;
  align-items: center;
}

/* Línea inferior al título de cada sección */
.borde {
  width: 6em;
  height: 0.25em;
  background-color: #e0c5a4;
  border-radius: 10px;
  margin-top: 0.6em;
}

/* Texto de la sección 'Sobre mí' */
/*#about p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	padding: 1.8em;
	max-width: 800px;
	letter-spacing: 0.08em;
	line-height: 1.5em;
}

/* Ilustración de 'Sobre mí' */
#girl {
  width: 70vw;
  max-width: 500px;
  height: auto;
  padding: 1.7em 0;
}

/*barra de pesquisa*/
.search-bar {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaçamento entre os elementos */
  background-color: #f0f0f0;
  border-radius: 15px; /* Bordas arredondadas */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 8px;
  font-size: 16px;
  outline: none;
}

.filter-button {
  background-color: #101010;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.search-button {
  background-color: #0b0b0b;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #b62222;
}

.search-button:hover {
  background-color: #b62222;
}

.video-wrapper {
  background: linear-gradient(#5c5c47, #161616);
  padding: 2rem;
}

#video-in {
  max-width: 40rem;
  min-width: 12rem;
  background-color: #090909;
  margin: auto;
  display: block;
  width: 100%;
}
.video {
  opacity: 0.5;
}
.content {
  max-width: 50%;
  color: #ffffff;
  justify-content: center;
  z-index: 10;
}
